<html>
<body>
    <h1>Links: </h1>
    <p><a href="{{ url_for('get_users') }}">List of active users</a></p>
    <form action="{{ url_for('user_by_id') }}" method="get">
        <p>
            <label for="id">Get user by id: </label>
            <input type="text" name="id">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
    <form action="{{ url_for('user_by_login') }}" method="get">
        <p>
            <label for="id">Get user by login: </label>
            <input type="text" name="login">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</body>
</html>